<!-- Hero -->
<!-- <app-icons style="align-items: right; float: right;"></app-icons> -->
<section
  class="et-slide"
  appVisible
  [threshold]="0.09"
  (isVisible)="onVisibilityChangeToTrue($event)"
  style="height: 100%"
>
  <app-icons></app-icons>
  <h1>PLAYGROUND</h1>
  <br />
  <h3>Hi, I'm Patrick and this is My place to play around with technology.</h3>
  <br />
  <div class="lower-section">
    Here are a few projects I've started, along with a space to share my
    learning journey.
  </div>
</section>
<nav [class]="navClass" #nat>
  <a
    *ngFor="let tab of contexts"
    class="et-hero-tab"
    [href]="'#' + tab.componentName"
    >{{ tab.name }}</a
  >
  <span class="et-hero-tab-slider" [style]="spanClass"></span>
</nav>
<!-- Main -->
<main class="et-main">
  <section
    *ngFor="let item of contexts"
    class="et-slide"
    [id]="item.componentName"
    appVisible
    [threshold]="0.91"
    (isVisible)="onVisibilityChange(item.index, $event)"
  >
    <app-content [context]="item"></app-content>
  </section>
</main>
